body {
  background-color: #f4f4f4;
  font-family: 'Open Sans';
  color: #999999;
}

.header {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #1f2532;
  color: #fff;
}

.add-btn, .add-btn:active {
  height: 54px;
  width: 54px;
  float: right;
  margin-top: -1.3em;
  background-color: #00958f;
  border-color: #00958f;
  color: #fff;
  border-radius:50%;
  box-shadow: 0 1px 5px rgba(0,0,0,.28);
  font-size: 25px;
}

.add-btn:hover {
  background-color: #01b7ad;
  border-color: #01b7ad;
  color: #fff;
  font-size: 25px;
}

.my-btn {
  background-color: #00958f;
  border-color: #00958f;
  color: #fff;
}

.my-btn:hover {
  background-color: #01b7ad;
  border-color: #01b7ad;
  color: #fff;
}

.school-card {
  margin: 1.5em 1.5em 1.5em 0;
  border-radius: 4px;
  box-shadow: 0 2px 0 rgba(0,0,0,0.07);
  background-color: #fff;
  padding-bottom: 1em;
  display: inline-block;
}

.school-card li {
    display: inline;
    float: right;
    padding-left: .3em;
    padding-top: 1.7em;
    padding-right: .2em;
}

.glyphicon {
    color: #999999;
}

.icons {
  padding: 0;
}

.school-name {
  color: #1f2532;
  font-weight: 200;
}

.address {
  background-image: url(../assets/address.png);
}

.phone {
  background-image: url(../assets/phone.png);
}

.enrollment {
  background-image: url(../assets/enrollment.png);
}

.school-icon {
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 2.5em; 
  display:inline-block;
  height: 30px;
  width: 500px;
  padding-bottom: 2.5em;
  margin-bottom: .3em
}

.contact {
  margin-top: 10px;
}

p.icon-text {
  margin-bottom: 0;
  margin-top: .5em;
  margin-left: 0;
  margin-right: 0;
}

.contact-img {
  padding: 0;
  height: 60px;
  width: 60px;
  display: inline-block;
}

.contact-info {
  display: inline-block;
  position: relative;
  top: 15px;
  left: 5px;
}

.clickable {
  cursor: pointer;
}

.login-error {
  background-color: rgba(255, 0, 0, 0.06);
}

.login-error p {
  font-size: 1.2em;
  text-align: center;
  color: red;
  line-height: 2em;
}

.hidden-icon {
  opacity: .25;
}

.hidden-icon:hover {
  opacity: 1;
}

.rearrange-buttons::after {
  content: "";
  line-height: 75px;
}

.rearrange-buttons .btn-one {
  position: relative;
  top: -75px;
}

.rearrange-buttons .btn-two {
  position: relative;
  top: 50px;
}

.profile-picture .contact-img {
  position: relative;
  top: 10px;
  left: 15px;
}

.contact-row {
  padding-top: 10px;
  padding-bottom: 10px;
}