<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h2 class="modal-title text-center">{{ title }}</h4>
    </div>
    <div class="modal-body">
        <h4>School Info</h4>
        <form role="form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="School Name" ng-model="school.name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Street Address" ng-model="school.address.street">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="City" id="city" ng-model="school.address.city">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="State" ng-model="school.address.state">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Zip Code" ng-model="school.address.zip">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Phone" ng-model="school.phone">
            </div>
             <div class="form-group">
                <input type="text" class="form-control" placeholder="Enrollment" ng-model="school.enrollment">
            </div>
            <h4>Contact Info</h4>
            <div ng-repeat="contact in school.contacts">
                <div class="row contact-row">
                    <div class="profile-picture col-md-2">
                        <img ng-show="!member.profile_picture" src="/assets/avatar_blank.png" class="contact-img img-circle img-responsive">
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Contact Name" ng-model="contact.name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Contact Position" ng-model="contact.position">
                        </div>
                    </div>
                </div>
            </div>
            <div class="rearrange-buttons">
                <button class="my-btn btn btn-default btn-lg center-block btn-two" ng-click="buttonClick(school)">{{ buttonText }}</button>
                <button class="my-btn btn btn-default btn-one" ng-click="addContact()">Add Contact</button>
            </div>
        </form>
    </div>
</div>