<!-- begin top bar -->
<div class="container">
    <button type="button" class="add-btn btn btn-lg" ng-click="create()">+</button>
</div>
<!-- end top bar -->

<div class="container">
    <div class="school-card col-xs-12 col-lg-3 col-med-6" ng-repeat="school in schools">
        <ul class="icons">
            <li>
                <span class="hidden-icon glyphicon glyphicon-pencil white clickable" ng-click="edit(school)"></span>
            </li>
            <li>
                <span class="hidden-icon glyphicon glyphicon-trash white clickable" ng-click="delete(school)"></span>
            </li>
        </ul>
        <h2 class="school-name"> {{ school.name }} </h2>
        <span class="address school-icon">
            <p class="icon-text">
                <p>{{ school.address.street }}</p>
                <p>{{ school.address.city }}, {{ school.address.state }} {{ school.address.zip }}</p>
            </p>
        </span>
        <span class="phone school-icon">
            <p class="icon-text"> {{ school.phone }}</p>
        </span>
        <span class="enrollment school-icon">
            <p class="icon-text">{{ school.enrollment }} </p>
        </span>
        <div class="contact" ng-repeat="contact in school.contacts">
             <img ng-show="!contact.img" src="assets/monster.png" class="contact-img img-circle img-responsive">
             <img ng-show="contact.img" ng-src="{{ contact.img }}" class="contact-img img-circle img-responsive">
             <div class="contact-info">
                <p class="contact-detail font-bold">{{ contact.name || '&nbsp;' }}</p>
                <p class="contact-detail font-italic">{{ contact.position || '&nbsp;' }}</p>
                <p class="contact-detail">{{ contact.contact || '&nbsp;' }}</p>
            </div>
        </div>
    </div>
</div>